<h4 style="color:rgb(8, 80, 68);text-align: center;">Provide Slote Details</h4>

<div style="align-items: center;">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter name of the game">
  <label for="exampleFormControlInput1" class="form-label">Select game date</label>
  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="select date">
  <label for="exampleFormControlInput1" class="form-label">Select game time</label>
  <input type="time" class="form-control" id="exampleFormControlInput1" placeholder="select date">
  <br>
  <input class="btn btn-primary" type="submit" value="Book">

</div>